language: rust

rust:
  - stable
  - beta
  - nightly

matrix:
  allow_failures:
    - rust: nightly

# Caching Haskell stuff so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev

before_install:
# Download and unpack the stack executable, then install ohuac and continue
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
- git clone https://github.com/ohua-dev/ohuac.git ~/ohuac
- cd ~/ohuac
- git checkout 97eddb9a7f7e7bc4a878f80806527eff356fe5c9
- stack --no-terminal install
- cd -
- cargo install sccache
- export RUSTC_WRAPPER=sccache

# run the normal build with tests
script:
  - cargo build --verbose
  - cd testcases/simple_addition/
  - cargo run
  - cd ../../; cd testcases/argument_clone/
  - cargo run
  - cd ../../; cd testcases/mainarg_clone/
  - cargo run
  - cd ../../; cd testcases/string_manipulation/
  - cargo run
  - cd ../../; cd testcases/tuple_values/
  - cargo run
  - cd ../../; cd testcases/double_use/
  - cargo run
  - cd ../../; cd testcases/correct_sender_placement
  - cargo run
  - cd ../../; cd testcases/unused_arguments
  - cargo run
  - cd ../../; cd testcases/custom_types/
  - cargo run
  - cd ../../; cd testcases/tuple_return/
  - cargo run
  - cd ../../; cd testcases/tuple_operator/
  - cargo run
  - cd ../../
