# Only build the master branch.
branches:
  only:
  - master

language: rust

rust:
  - nightly

# matrix:
#   allow_failures:
#     - rust: nightly

# Caching Haskell stuff so the next build will be fast too.
cache:
  directories:
  - $HOME/.stack

# Ensure necessary system libraries are present
addons:
  apt:
    packages:
      - libgmp-dev

before_install:
# Download and unpack the stack executable, then install ohuac and continue
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards --strip-components=1 -C ~/.local/bin '*/stack'
- git clone https://github.com/ohua-dev/ohuac.git ~/ohuac
- cd ~/ohuac
- git checkout v0.2.0
- stack --no-terminal install
- cd -
- cargo install sccache
- export RUSTC_WRAPPER=sccache

# run the normal build with tests
script:
  - cargo build
  - cargo test
  - cd testcases/
  - cargo test
